html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.ng-cloak { display: none !important; }
.viewA-content {
    width: 100%;
    height: 100%;
}
.auth-wrapper {
    width: 100%;
    height: 100%;
}
.center-reg-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-nav-style {
    padding: 3px;
    font-size: 120%;
	font-family: 'Josefin Sans', sans-serif;
}
.custom-nav-main-style {
    height: 70px;
    box-shadow: 0 10px 10px -10px #e1cbbf;
}
.nav-container {
    position: fixed;
    width: 100%;
	z-index: 999;
}
.cursor-pointer {
    cursor: pointer;
}
.font-bold {
	font-weight: bold;
}
.hover:hover {
    opacity: 0.8;
    box-shadow: 0 0 1px 1px #E0E0E0;
}
.clicked:active {
    opacity: 0.7;
    box-shadow: 0 0 1px 1px #DDDDDD;
}
.a-remove-style {
	color: #777;
    text-decoration: none;
}
.a-remove-style:hover {
	text-decoration: none;
	color: #777;
}
/* MAIN */
.main-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 70px
}
.main-content {
    width: 100%;
    height: 75%;
    min-height: 350px;
    background: url(/static/app/img/main-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 20px 20px -20px #666;
}
.main-footer {
   width: 100%;
   height: 25%;
   display: table;
}
.main-footer-copyright {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    color: darkgray;
    padding: 15px;
}
.main-right {
    width: 60%;
    height: 100%;
    font-family: 'Signika', sans-serif;
    position: relative;
}
.centered-text {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%,-50%);
}
.text {
    position: relative;
    text-align: left;
    font-size: 200%;
    color: white;
}
.main-btn-wrapper {
    padding: 30px 0;
    position: absolute;
    right: 0;
}
.main-btn {
    text-align: center;
    padding: 5px 15px;
    font-size: 80%;
    background-color: white;
    color: #777;
    border-radius: 3px;
}
/* end MAIN */
/* inner-navbar */
.nav-user-photo-wrapper {
    width: 40px;
    margin: 0 10px;
    border-radius: 50%;
}
.custom-nav-list {
	display: flex;
    align-items: center;
}
.nav-user-photo {
    width: 100%;
    border-radius: 50%;
}
/* end inner-navbar */
.search-wrapper {
    padding: 81px 15px 15px 15px;
    width: 100%;
    height: 100%;
}
.ride-a-bike {
    display: flex;
    align-items: center;
	margin: 15px;
}

.user-profile-wrapper {
    width: 100%;
    padding-top: 51px;
    font-family: 'Josefin Sans', sans-serif;
}
.user-profile-content {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 30px 15px;
}
.main-info {
    width: 100%;
	font-family: 'Josefin Sans', sans-serif;
}
.main-info-left-info {
    padding: 15px;
}
.cl-4 {
    width: 33.33333333%;
    float: left;
}
.cl-8 {
	width: 66.66666666%;
    float: left;
}
.photo-wrapper {
    width: 220px;
    padding: 2% 5% 5% 5%;
    margin: 0 auto;
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
}
.user-personal-wrapper {
	width: 220px;
    margin: 0 auto;
}
.main-info-user-photo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.clear-float {
    clear: left;
}
.user-data {
    width: 100%;
    padding: 5px 0;
}
.user-login {
    font-size: 150%;
	margin: 5px 0;
}
.user-score-wrapper {
	padding: 0 15px 15px 15px;
    border-bottom: 1px solid lightgray;
}
.organization-wrapper {
	padding: 0 15px;
    border-bottom: 1px solid lightgray;
}
.organization-items{
	max-width: 100%;
	overflow: hidden;
}
.organization-help-block{
	width: 100%;
	text-align: center;
	padding: 5px 0;
	font-size: 120%;
}
.organization-header {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
	padding: 5px 0;
}
.org-item {
    display: inline-block;
    padding: 7px;
    margin: 15px;
    border: 1px solid #467CA8;
    border-radius: 3px;
    color: white;
    white-space: nowrap;
	font-weight: bold;
}
.org-item:hover {
	opacity: 0.8;
	box-shadow: 0 0 1px 1px rgba(70, 124, 168, 0.3)
}
.organization-a {
	color: #467CA8;
}
.lang-wrapper {
	padding: 15px;
}
.lang-items {
    overflow: hidden;
}
.lang-item {
    display: inline-block;
    border: 1px solid #4A6B4E;
    border-radius: 3px;
    color: #4A6B4E;
    padding: 7px;
    margin: 15px;
    font-weight: bold;
}
.user-score {
	float: right;
}
.score-item {
	text-align: center;
	float: left;
    padding: 0 15px;
}
.score-lg-font {
	font-size: 200%;
    font-weight: bold;
}
.main-info-since-wrapper {
	float: left;
}
.main-info-since {
    padding: 15px;
}
.main-info-since label {
    font-size: 120%;
}
.main-info-left-info {
    padding: 15px;
}
.main-info-organization {
	max-width: 100%;
}
.score-items {
    padding: 15px;
}
.user-lang {
    width: 100%;
}
.repos-block-wrapper, .selected-block-wrapper {
	width: 90%;
    padding: 15px;
    margin: 0 5%;
}
.repos-block {
	display: inline-block;
	width: 100%;
}
.repos {
	width: calc(50% - 30px);
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 15px;
    margin: 15px;
	text-align: left;
	background-color: #FEFEFE;
}
.repos:hover {
	box-shadow: 0 0 1px 1px rgba(212, 212, 212, 0.57);
}
.rep-header {
	font-size: 140%;
    padding: 10px 0;
    color: #731f10;
}
.rep-description {
	line-height: 2.5ex;
    height: 5ex;
    margin: 10px 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* height: 3.6em; */
    text-overflow: -o-ellipsis-lastline;
}	
.rep-left, .rep-right {
	margin: 10px 0;
}
.rep-left{
	float: left;
}
.rep-right {
	float: right;
}
.rep-date-label-color{
	color: #999;
}
.lang-block-delete {
	font-size: 150%;
}
