html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.viewA-content {
    width: 100%;
    height: 100%;
}
.auth-wrapper {
    width: 100%;
    height: 100%;
}
.center-reg-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-nav-style {
    padding: 3px;
    font-size: 120%;
    font-family: 'Signika', sans-serif;
}
.custom-nav-main-style {
    height: 70px;
    box-shadow: 0 10px 10px -10px #e1cbbf;
}
.nav-container {
    position: fixed;
    width: 100%;
}
.cursor-pointer {
    cursor: pointer;
}
.hover:hover {
    opacity: 0.8;
    box-shadow: 0 0 1px 1px #E0E0E0;
}
.clicked:active {
    opacity: 0.7;
    box-shadow: 0 0 1px 1px #DDDDDD;
}
.a-remove-style {
	color: #777;
    text-decoration: none;
}
.a-remove-style:hover {
	text-decoration: none;
	color: #777;
}
/* MAIN */
.main-wrapper {
    width: 100%;
    height: 100%;
    padding-top: 70px
}
.main-content {
    width: 100%;
    height: 75%;
    min-height: 350px;
    background: url(/static/app/img/main-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 20px 20px -20px #666;
}
.main-footer {
   width: 100%;
   height: 25%;
   display: table;
}
.main-footer-copyright {
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
    color: darkgray;
    padding: 15px;
}
.main-right {
    width: 60%;
    height: 100%;
    font-family: 'Signika', sans-serif;
    position: relative;
}
.centered-text {
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-20%,-50%);
}
.text {
    position: relative;
    text-align: left;
    font-size: 200%;
    color: white;
}
.main-btn-wrapper {
    padding: 30px 0;
    position: absolute;
    right: 0;
}
.main-btn {
    text-align: center;
    padding: 5px 15px;
    font-size: 80%;
    background-color: white;
    color: #777;
    border-radius: 3px;
}
/* end MAIN */
/* inner-navbar */
.nav-user-photo-wrapper {
    width: 40px;
    margin: 0 10px;
    border-radius: 50%;
}
.custom-nav-list {
	display: flex;
    align-items: center;
}
.nav-user-photo {
    width: 100%;
    border-radius: 50%;
}
/* end inner-navbar */
.search-wrapper {
    padding: 81px 15px 15px 15px;
    width: 100%;
    height: 100%;
}
.ride-a-bike {
    display: flex;
    align-items: center;
	margin: 15px;
}

.user-profile-wrapper {
    width: 100%;
    padding-top: 51px;
    font-family: 'Raleway', sans-serif;
}
.user-profile-content {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 15px;
}
.main-info {
    width: 100%;
}
.main-info-left-info {
    padding: 15px;
}
.cl-4 {
    width: 33.33333333%;
    float: left;
}
.photo-wrapper {
    width: 220px;
    padding: 2% 5% 5% 5%;
    margin: 0 auto;
    border: 1px solid darkgray;
    border-radius: 3px;
    background-color: rgb(248, 248, 248);
}
.main-info-user-photo {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
}
.clear-float {
    clear: left;
}
.user-login, .user-company, .user-email, .user-name, .user-location {
    width: 100%;
    text-align: center;
    margin: 5px 0;
    padding: 5px 0;
    font-size: 150%;
}
.user-company, .user-email, .user-name, .user-location  {
    font-size: 120%;
}
.main-info-since {
    padding: 15px;
}
.main-info-since label {
    font-size: 120%;
}
.main-info-right-info, .main-info-left-info {
    padding: 15px;
}
.organization-header, .main-info-list-header {
    text-align: center;
    font-size: 140%;
    font-weight: bold;
}
.main-info-organization {
	max-width: 100%;
}
.organization-items{
	max-width: 100%;
    padding: 15px;
}
.organization-a {
	color: white;
}
.organization-a:hover {
	color: #FEFEFE;
}

.score-items {
    padding: 15px;
}
.org-item {
    display: inline-block;
    padding: 2% 2%;
    margin: 2% 2%;
    border: 1px solid #467CA8;
    border-radius: 3px;
    background-color: #467CA8;
    color: white;
    white-space: nowrap;
}
.user-lang {
    width: 100%;
}
.lang-items {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.lang-item {
    display: inline-block;
    background-color: #4A6B4E;
    border: 1px solid #4A6B4E;
    border-radius: 3px;
    padding: 5px 15px;
    font-size: 120%;
    color: white;
    margin: 1%;
}
.score-item-font {
    font-size: 150%;
}
.scope-items-label {
    color: darkgray;
    font-weight: normal;
}
