<div class="main-wrapper" ng-controller="mainCtrl">
    <div class="main-content">
        <div class="main-right">
            <div class="centered-text">
                <div class="text">
                    <h1>Hello!</h1>
                    Find you perfect team for you next project
                    <div class="main-btn-wrapper">
                        <div class="main-btn cursor-pointer hover clicked">
                            Sign in with github
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-footer">
        <div class="main-footer-copyright">
            &copy; all rights reserved :D
        </div>
    </div>
</div>