<div class="search-wrapper container-fluid" ng-controller="searchCtrl">
    <div class="row ride-a-bike">
        <div class="col-xs-2">
            Just give us a user login:
        </div>
        <div class="col-xs-8">
            <input type="text" ng-model="user.login" id="login" class="form-control" placeholder="login" aria-describedby="user-addon">
        </div>
		<div class="col-xs-2">
			<button ng-click="search()" class="btn btn-default"> search </button>
		</div>
    </div>
</div>