<div class="user-profile-wrapper">
    <div class="user-profile-content">
        <div class="main-info">
            <div class="main-info-left-info cl-4">

                <div class="main-info-organization">
                    <div class="organization-header">
                        Organization
                    </div>
                    <div class="organization-items">
                        <div class="org-item">
                            I have not
                        </div>
                        <div class="org-item">
                            good
                        </div>
                        <div class="org-item">
                            ideas
                        </div>
                    </div>
                </div>
                <div class="main-info-since">
                    <label> Since: </label> 10.12.13
                </div>

            </div>
            <div class="main-info-photo cl-4">
                <div class="photo-wrapper">
                    <img class="main-info-user-photo" src="/static/app/img/user-icon.png">
                </div>
            </div>
            <div class="main-info-right-info cl-4">
                <div class="main-info-list">
                    <div class="main-info-list-header">SCORE</div>
                    <div class="score-items">
                        <div>
                            <label class="scope-items-label">BALL:&nbsp;&nbsp;</label><span class="score-item-font">100</span>
                        </div>
                        <hr width="100%" align="center" style="margin: 5px;">
                        <div>
                            <label class="scope-items-label">TOTAL LINES:&nbsp;&nbsp;</label>&nbsp;<span class="score-item-font">42</span>
                        </div>
                        <hr width="100%" align="center" style="margin: 5px;">
                        <div>
                            <label class="scope-items-label">TOTAL COMMITS:&nbsp;&nbsp;</label>&nbsp;<span class="score-item-font">4242</span>
                        </div>
                        <hr width="100%" style="margin: 5px;">
                    </div>
                </div>
            </div>
            <div class="clear-float"></div>
            <div class="user-login"> @Ananaskelly </div>
            <div class="user-email"> <span style="color: #474350" class="glyphicon glyphicon-envelope"></span> anastasiya_johnni@mail.ru </div>
            <div class="user-company"> <span style="color: #474350" class="glyphicon glyphicon-briefcase"></span> student </div>
            <div class="user-lang">
                <div class="lang-items">
                    <div class="lang-item">JavaScript</div>
                    <div class="lang-item">Java</div>
                    <div class="lang-item">C ++ </div>
                    <div class="lang-item">ActionScript</div>
                </div>
            </div>
        </div>
    </div>
</div>