<div class="user-profile-wrapper" ng-controller="userProfileCtrl">
    <div class="user-profile-content">
        <div class="main-info">
			<div class="main-info-photo cl-4">
                <div class="photo-wrapper">
					<img ng-show="user.avatar_url" class="main-info-user-photo" src="{{user.avatar_url}}">
                    <img ng-show="!user.avatar_url" class="main-info-user-photo" src="/static/app/img/user-icon.png">
                </div>
				<div class="user-personal-wrapper">
					<div class="user-data user-login" ng-show="user.login"> 
						<a class="a-remove-style" href="{{html_url}}"> @{{user.login}}</a>
					</div>
					<div class="user-data" ng-show="user.name">
						<span style="color: #474350" class="glyphicon glyphicon-user">&nbsp;{{user.name}} 
					</div>
					<div class="user-data" ng-show="user.email">
						<span style="color: #474350" class="glyphicon glyphicon-envelope"></span>&nbsp;{{user.email}} 
					</div>
					<div class="user-data" ng-show="user.company"> 
						<span style="color: #474350" class="glyphicon glyphicon-briefcase"></span>&nbsp;{{user.company}} 
					</div>
					<div class="user-data" ng-show="user.location">
						<span class="glyphicon glyphicon-map-marker" style="color: #474350"></span>&nbsp;{{user.location}} 
					</div>
				</div> 
            </div>
			<div class="cl-8 user-score-wrapper">
				<div class="main-info-since-wrapper">
					<div class="main-info-since">
                    <label> Since: </label> <span> {{user.created_at | date : 'medium'}}</span>
                </div>
				</div>	
				<div class="user-score">
					<div class="score-item">
						<span class="score-lg-font">22</span><br> BALL
					</div>
					<div class="score-item">
						<span class="score-lg-font">22</span><br> TOTAL LINES
					</div>
					<div class="score-item">
						<span class="score-lg-font">22</span><br> TOTAL COMMITS
					</div>
				</div>
			</div>
			<div class="cl-8 organization-wrapper" >
				<div>
					<div class="organization-header">
                        Organisations
                    </div>
					<div class="organization-help-block" ng-show="user.organisations.length === 0">
						This user is not a member of any organisation
					</div>
                    <div class="organization-items">
                        <div ng-repeat="org in user.organisations" class="org-item hover">
                            <a class="a-remove-style organization-a" href="{{org.html_url}}"> {{org.login}}</a>
                        </div>
                    </div>
				</div>
			</div>
			<div class="cl-8 lang-wrapper">
				<div>
					<div class="lang-items">
						<div class="lang-item cursor-pointer hover" ng-repeat="lang in user.relevantLangs" ng-click="selectByLang($index)">
							{{lang}}
						</div>
					</div>
				</div>
			</div>
            <div class="clear-float"></div>
			<div class="selected-block-wrapper">
				<div class="lang-items">
					<div class="lang-item hover" ng-repeat="selectedLang in selectedLangs" >
						{{selectedLang}}&nbsp;<span class="cursor-pointer lang-block-delete" ng-click="deleteFromSet($index)"><sup>&times;</sup></span>
					</div>
				</div>
			</div>	
			<div class="repos-block-wrapper">
				<div class="repos-block">
					<div>
						<div ng-repeat="rep in shownRepos track by $index" class="repos">
							<div class="rep-header">
								{{rep.full_name}}
							</div>
							<div class="rep-description">{{rep.description}}</div>
							<div class="rep-left">
								<img src="/static/app/img/forked.png"> {{rep.forks}}
							</div>
							<div class="rep-right font-bold">
								{{rep.language}}
							</div>
							<div class="clear-float"></div>
							<div class="rep-left">
								<span class="rep-date-label-color">Created: </span>{{rep.created_at}}
							</div>
							<div class="rep-right">
								<span class="rep-date-label-color">Updated: </span>{{rep.updated_at}}
							</div>
						</div>
					</div>
				</div>
			</div>
        </div>
    </div>
</div>