<html>
    <head>

    </head>
    <body>
        <p>
            Well, hello there!
        </p>
        <h1>First of all, take token below!!!</h1>
        <p>
            We're going to now talk to the GitHub API. Ready?
            <a href="https://github.com/login/oauth/authorize?scope=user:email&client_id={{ clientId }}">Click here</a> to
            begin!</a>
        </p>
        <h4>Examples</h4>
            <p><a href="http://localhost:8000/present/" >http://localhost:8000/present/</a></p>
            <p><a href="http://localhost:8000/current/" >http://localhost:8000/current/</a></p>
            learp is somebody login on GitHub (Actually that belong to our friend Egor https://github.com/learp)
            <p><a href="http://localhost:8000/api/learp/">http://localhost:8000/api/learp/</a></p>
    </body>
</html>